<html>
	<head>
		{% load static %}
		<link rel="stylesheet" href="{% static 'js/node_modules/bootstrap/dist/css/bootstrap.css' %}">
		<!-- <script src="{% static 'js/node_modules/chart.js/dist/Chart.js' %}"></script> -->

	</head>

	<body>
		<div class="container">
			<h1>Index / TOC</h1>
			<br>

			<ul class="list-group">
				<a class="list-group-item list-group-item-action" href="/main/silly-test">Silly test</a>

				<!-- <a class="list-group-item list-group-item-action" href="/main/chart1">Chart1</a>
				<a class="list-group-item list-group-item-action" href="/main/form1">Form1</a>
				<a class="list-group-item list-group-item-action" href="/main/list-results">List results</a> -->
			</ul>
		</div>

	</body>
</html>