<html>
	<head>
		{% load static %}
		<link rel="stylesheet" href="{% static 'js/node_modules/bootstrap/dist/css/bootstrap.css' %}">
		<!-- <script src="{% static 'js/node_modules/chart.js/dist/Chart.js' %}"></script> -->

	</head>

	<body>
		<div class="container">
			<h1>Index / TOC</h1>
			<br>

			<ul class="list-group">
				<!-- <a class="list-group-item list-group-item-action" href="/main/silly-test">Silly test</a> -->
				<li><a class="list-group-item list-group-item-action" href="/main/vetting-hard-coded-example">Vetting-hard-coded-example</a> </li>

				<li><a class="list-group-item list-group-item-action" href="/main/vetting-example?jid=170001">Vetting-example</a></li>

				<li><a class="list-group-item list-group-item-action" href="/main/train-results1">Results for train 1</a></li>

			</ul>
		</div>

	</body>
</html>