<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/bootstrap_335.css' %}" type="text/css" />
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <div class="container">
            <h1>Training results</h1>

            <h3>Training command output:</h3>



            <h3>Loss rate curve</h3>
            <img src="{% static 'data/loss_curve1.png' %}" />
        </div>

    </body>
</html>